body {
    font-family: Arial;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
input[type="text"] {
    width: 70%;
    padding: 10px;
}
button {
    padding: 10px;
}
ul {
    list-style: none;
    padding-left: 0;
}
li {
    margin: 10px 0;
}
